* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body {
  width:100%;
  height:100%;
  display:block;
  overflow:hidden;
  } /* just to be sure these are full screen*/

canvas { 
  display:block;
  position:absolute;
  left:0px;
  top:0px;
  background-color:black;
  z-index:2;
}

.options-container{
  position: absolute;
  top:0;
  left:0;
  z-index:3;
}
.options-container p{
  color: white;
}
#toggle-option{
  float:left;
}
#options{
  border: 2px solid orange;
  width:200px;
}
